.login-page{
			padding-top: 10%;
		}
		.form{
			width: 25%;
			border: 2px solid #fff;
			padding: 3%;
			background-color: rgba(36, 36, 30, 0.7);
		}
		.login-page>h2{
			color: #fff;
		}
		input[type="text"], input[type="password"]{
			display: block;
			width: 90% !important;
			border-radius: 0px;
			padding: 4%;
		}
		.form .login{
			width: 99% !important;
			margin-left: 0px !important;
			padding: 3% 0;
			border-radius: 0px;
		}